@import '~sass/variables/colors.scss';

.root {
  display: inline-block;
  cursor: pointer;
}

.label {
  cursor: pointer;
}

.avatarPic {
  display: inline-block!important;
  border: 2px solid $primary-color;
  border-radius: 5px;
}

.avatarFile {
  position: absolute;
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}
