@import '~sass/variables/colors.scss';

.root {
  margin-top: 3rem;
}

.avatarPic {
  margin: 0 auto 1rem;
  border: 2px solid $primary-color;
}

.avatarFile {
  position: absolute;
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.dataTextField{
  cursor: pointer;
}
