.marker {
  &Pulse {
    width: 10px;
    height: 10px;
    border: 5px solid #7fd2e6;
    border-radius: 30px;
    background-color: #00a6cd;
    z-index: 10;
    position: absolute;
  }
  &Dot {
    position: absolute;
    height: 50px;
    width: 50px;
    top: -20px;
    left: -20px;
    z-index: 2;
    opacity: 0;
    border: 10px solid rgba(0, 166, 205, 1);
    background: transparent;
    border-radius: 60px;
    animation: flash 2s ease-out;
    animation-iteration-count: infinite;
  }
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }

  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }

  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }

  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}


@keyframes flash {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }

  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }

  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }

  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}
