@import '~sass/variables/colors.scss';

.root {
  // padding: 1rem;
  // max-width: 400px;
  margin-top: 3rem;

  .logo {
    margin: auto;
  }

  .registerOptions {
    margin-top: 2rem;
  }

  .form {
    margin-top: 1.5rem;

    // .valueProductCheck {
    //   input:checked~label:before {
    //     background-color: $primary-color!important;
    //   }
    // }

    .coutrySelector, .areaSelector {
      min-width: 90px;
    }

    .phoneGroup {
      label {
        font-weight: bold;
      }
      .phoneFields {
        margin: 0!important;
      }
    }

    .formGroupPassword {
      display: flex;
      align-items: flex-end;
      margin-bottom: 1rem;

      .inputPassword{
        flex: 1!important;
      }

      .checkShowPass {
        margin-bottom: 10px!important;
      }
    }
  }
}
